*{
  font-family:Arial, Helvetica, sans-serif
}
body{
  padding: 6rem;
  background-color: white;
}
input{
  color: black;
  width: 98.1%;
  font-size: 1.2rem;
  padding: 1rem;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.grid-column{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}

.Card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}
.Card p{
  padding: 5px;
  text-align: center;
}
.Card img{
  width: 100%;
  height: 20vw;
}